.biography{
 font-size: 25px;
}
.article-About-me{
    font-size: 25px;
    color:blueviolet;
}
.article-link{
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: 2px solid blueviolet;
}
.article-content{
    font: inherit;
    color: inherit;
}
.img{
    width: 450px;
    border: 4px solid blueviolet;
}